body {
  font-family: sans-serif;
  text-align: center;
  background-color: #94c9eb;
}

h1 {
  margin-top: 50px;
}

input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 50%;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

#task-list {
  margin-top: 20px;
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.task-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}